.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.grid {
  display: grid;
  gap: 0.5rem;

  & .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  & a {
    justify-self: end;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background: #6b6b6b;
    border-radius: 0.5rem;
    color: var(--text-h);

    &:hover {
      background: #8c8c8c;
    }

    &:visited {
      color: var(--text-h);
    }
  }
}

.button {
  padding: 0.5rem 1rem;

  &.back {
    justify-self: start;
  }

  &.add {
    justify-self: end;
  }
}

header {
  position: sticky;
  top: 0;
  background: var(--bg);
  box-shadow: var(--shadow);
}

.form {
  display: grid;
  gap: 1rem;

  border-radius: 0.5rem;
  padding: 1rem;

  &.bordered {
    border: 1px solid var(--border);
  }

  & div {
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;
    align-items: center;

    & label {
      text-align: end;
      vertical-align: middle;
    }
  }

  & button {
    display: flex;
    place-items: center;
    place-content: center;
  }

  & input,
  textarea {
    padding: 0.5rem;
    resize: none;

    &:read-only {
      background: transparent;
      border-color: transparent;
      cursor: default;

      &:focus {
        outline: none;
      }
    }
  }
}

ul {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  padding: 0;
  margin: 0;

  & li {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: var(--shadow);

    & p {
      display: block;
      text-align: start;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & a {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid transparent;

    &:hover {
      color: var(--text-h);
      border-bottom: 1px solid var(--text-h);
    }

    &.active {
      color: var(--text-h);
      border-bottom: 1px solid var(--text-h);
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;

  .button {
    width: 100%;
  }
}
